<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/c4b7ee56-bbc7-4664-bf23-a55d20a9086f/resourcegroups/RG-yazanalnsierat/providers/Microsoft.Web/sites/webUtvekling2</ResourceId>
    <ResourceGroup>RG-yazanalnsierat</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webutvekling2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>044f82b5-742e-4dbf-b869-58ca5329b27c</ProjectGuid>
    <PublishUrl>https://webutvekling2.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webUtvekling2</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>